.modalBackground {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(200, 200, 200); */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25em;
}

.modal .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modalContainer {
    width: 500px;
    /* height: 500px; */
    border-radius: 12px;
    background-color: rgb(46, 44, 44);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}



.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1rem;
    /* text-align: center; */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.form-group label {
    margin-bottom: 0.2rem;
}




.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    width: 120px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}

.error {
    background-color: #f7f0f0;
    color: #f50521;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}